<IfModule mod_rewrite.c>
    RewriteEngine On

    # Akses folder project dari XAMPP/Laragon akan diarahkan ke folder public Laravel.
    RewriteRule ^$ public/ [L]
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
